@font-face {
  font-family: "UrbaneRounded";
  src: url("./assets/fonts/UrbaneRounded-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "UrbaneRounded";
  src: url("./assets/fonts/UrbaneRounded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
